%section.santa
  %p
    Hello and happy holidays to you and yours! In celebration of such wonderous times, we’ve put together this little (digital) gift for you and anyone else who’s day may be brightened by it. Enjoy!
  %p.signoff
    with love
  %p.large
    Ari & Alex