%html
  %head
    %title AH Sinatra App Boilerplate
    %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    // FB
    %meta(property="og:title" content="")
    %meta(property="og:description" content="")
    %meta(property="og:type" content="")
    %meta(property="og:image" content="")
    %meta(property="og:site_name" content="")
    %meta(property="og:url" content="") 
    // JS
    %script(src="/js/app.js")
    // CSS
    / %link(href="/stylesheets/ie.css" rel="stylesheet")
    / %link(href="/stylesheets/print.css" rel="stylesheet")
    / %link(href="/stylesheets/screen.css" rel="stylesheet")
    %link(href="/stylesheets/app.css" rel="stylesheet")
  %body
    = yield